
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  margin-top: 40px;
}

.book {
  background: rgb(203, 203, 203);
}

.new-book {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

.new-book-form form {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 15px;
  justify-items: start;
}

.new-book-form {
  display: none;
}

.new-book-form.opened {
  display: block;
}

